*{
    font-family: 'Montserrat', sans-serif;
}
.service::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: #0B353D;
    z-index: -1;
}

@media screen and (max-width: 767px){
    .max-w-full{
        padding: 0 15px;
    }
    br{
        display: none;
    }
}